* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

footer {
  background-color: #202020;
  text-align: center;
  padding: 2.31em 9.56em;
  margin-top: 2.69em;
}

img {
  width: 100%;
}

/* Typography */

h1 {
  font-weight: 700;
  font-size: 2rem; /* 32px */
  line-height: 1.08;
  letter-spacing: -0.5px;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem; /* 24px */
  line-height: 1.08;
}

p {
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.3;
  letter-spacing: 0%;
}

span {
  font-weight: 400;
}

/* Hero */

.hero {
  background: url(../images/hero-image.png);
  background-size: cover;
  padding: 5.4375em 1.25em 1.5625em;
}
.hero__date,
.hero__title,
.hero__text {
  color: #fff;
}

.hero__date {
  font-size: 0.75rem; /* 12px */
}

.hero__title {
  margin-block: 0.25em;
}

.hero__text {
  margin-block: 0;
}

/* Blog */
.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1em;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2.125em;
}

.blogs__item {
  margin-bottom: 2.56em;
}

.blogs__img {
  margin-bottom: 0.875em;
}

.blogs__date {
  font-size: 0.89rem; /* 14.17px */
}

.blogs__title {
  margin-block: 0.375em;
}

.blogs__preview {
  margin-block: 0;
  color: #505050;
}

/* Footer */

.footer-title,
.copyright {
  font-size: 0.75rem; /* 12px */
}

.footer-title {
  color: #ececec;
  font-weight: 700;
  line-height: 1;
}

.copyright {
  color: #d7d7d7;
  font-weight: 400;
}

/* Buttons */

.more__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem; /* 16px */
  line-height: 1;
  background-color: #fff;
  border: none;
  text-decoration: underline;
  text-decoration-style: solid;
}
